
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, arial, helvetica, sans-serif;
}

/* Header navigation bar Style */
.nav-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 15px;
}

.right {
    padding-right: 20px;
}

.left {
    padding-left: 30px;
}

li {
    padding-right: 15px;
}

a {
    text-decoration: none;
}

.ul-header a:not(.sign-in) {
    color: black;
    opacity: 0.75;
    font-size: 13px;
}

.ul-footer a {
    color: rgba(0,0,0,.54);
    font-size: 14px;
}

a:not(.sign-in):not(.google-apps):hover {
    text-decoration: underline;
}

.sign-in {
    display: inline-block;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 2px;
    border: 1px solid #4285f4;
    color: white;
    font-size: 13px;
    font-weight: bold;
    background-color: #4285f4;
}


/* Main content */










/* Footer and footer navigation bar style */
.nav-footer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

footer {
    background:#f2f2f2;
    line-height: 40px;
}

.country {
    color: rgba(0,0,0,.54);
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
    border-top: 1px solid #dadce0;
}

.nav-footer {
    font-size: 14px;
    background:#f2f2f2;
}

.ul-footer {
    margin: 0;
}
