
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, arial, helvetica, sans-serif;
}

/* Header navigation bar Style */
.nav-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 15px;
}

.right {
    padding-right: 20px;
}

.left {
    padding-left: 30px;
}

li {
    padding-right: 15px;
}

li a {
    text-decoration: none;
}

.ul-header a:not(.sign-in) {
    color: black;
    opacity: 0.75;
    font-size: 13px;
}

.ul-footer a {
    color: rgba(0,0,0,.54);
    font-size: 14px;
}

a:not(.sign-in):not(.google-apps):hover {
    text-decoration: underline;
}

.sign-in {
    display: inline-block;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 2px;
    border: 1px solid #4285f4;
    color: white;
    font-size: 13px;
    font-weight: bold;
    background-color: #4285f4;
}


/* Main content */
main {
    display: flex;
    align-items:center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.google-logo{
    max-width: 270px;
    max-height: 270px;
    margin-top: -50px;
}

.search {
    display: flex;
    align-items: center;
    height: 40px;
    width: 500px;
    margin-top: 30px;
    border: 1px solid #dfe1e5;
    border-radius:24px;
    background-color: transparent;
}

.fa-search {
    padding-left: 15px;
    padding-right: 10px;
}

.search-bar {
    height: 28px;
    flex:100%;
    max-width: 450px;
    border-color: transparent;
}

.btn{
    color: #202124; 
    margin-top: 30px;
    font-size: 14px;
    width: 125px;
    height: 40px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
}

.language{
    font-size: 14px;
}

.btn:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-image: linear-gradient(top,#f8f9fa,#f8f9fa);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}


/* Footer and footer navigation bar style */
.nav-footer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

footer {
    background:#f2f2f2;
    line-height: 40px;
}

.country {
    color: rgba(0,0,0,.54);
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
    border-top: 1px solid #dadce0;
}

.nav-footer {
    font-size: 14px;
    background:#f2f2f2;
}

.ul-footer {
    margin: 0;
}
